.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  max-width: 640px;
  margin: 64px 0 0 0;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 124px;
  margin: 0px 32px 32px 32px;
  filter: brightness(0);
}

.buy-now {
  margin: 0px 32px 32px 32px;
}

.light {
  color: #a6a6a6;
}
