.roadmap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 640px;
  margin: auto;
  padding: 0 32px;
}

.h2 {
  max-width: 640px;
  margin: 64px 0 16px 0;
}

.ol {
  list-style-position: inside;
  padding: 0;
}

.li {
  text-align: left;
}

.light {
  color: #a6a6a6;
}
