.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  overflow: hidden;

  background-image: url("../images/header-background.png"); // TODO: BG image plugin?
  background-size: cover;
  background-position-x: center;
  background-color: #4eadf5;
  image-rendering: pixelated;
}

.images-container {
  display: flex;
  align-items: baseline;
  margin: 0px 32px 64px 32px;
}

.humbits-logo {
  margin: 0px 32px 32px 32px;
}

.h2 {
  color: white;
  max-width: 640px;
  margin: 0px 32px 32px 32px;
}

.play-now {
  margin: 0px 32px 32px 32px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 124px;
  margin: 0px 32px 32px 32px;
}
